<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>128202867592-agruf4vhilhq9irl3kq91rkdtq6gnf28.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.128202867592-agruf4vhilhq9irl3kq91rkdtq6gnf28</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>128202867592-alh7p5tsorvjd0359oum4ke0n06dpfu8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyARQXxnyaufOZTZrxRc5bbI_fPUNDmHYmo</string>
	<key>GCM_SENDER_ID</key>
	<string>128202867592</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.plusapp.plusapp</string>
	<key>PROJECT_ID</key>
	<string>plusapplanding</string>
	<key>STORAGE_BUCKET</key>
	<string>plusapplanding.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:128202867592:ios:84b886ede910f22272f03d</string>
</dict>
</plist>